.articleRoot {
    width: 100%;
    max-width: 700px;
    margin-top: 5rem;
    font-feature-settings: 'pwid';
    color: #333;
}
.articleRoot p {
    margin-bottom: 0.8rem;
    line-height: 1.8rem;
    font-size: .9rem;
}
.articleRoot img {
    border-radius: 6px;
    margin: 2rem 0px;
    border: 1px solid #2b2b2b;
}
.articleRoot table *{
    border: solid 1px #eaeaea;
    padding: 10px 15px;
}
.articleRoot table {
    width: 100%;
}
.articleRoot h2 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1.4rem;
}
.articleRoot ul li:before {
    content: "― ";
}
.articleRoot blockquote {
    border-left: solid 1px #797979;
    padding-left: 1.2rem;
}
@media screen and (max-width: 800px) {
    .articleRoot {
        padding: 0 50px;
        margin-top: 1rem;
    }
}

:global(.dark) .articleRoot {
    color: #f5f5f5;
}

:global(.dark) .articleRoot table *{
    border: solid 1px #4b4b4b;
}
